@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* ----- COLORES PRINCIPALES ---- */

    --verde: #279B97;
    --verde-medio: #108D82;
    --verde-hover: #007C74;

    /* ------- FONDOS ---------- */

    --fondo: #FAFBFC;
    --blanco: #FFFFFF;
    --celeste: #d6f4effc;
    --celeste-claro: #e1f5f1e9;

    /* ------- TEXTOS ---------- */

    --texto-principal: #08363C;
    --texto-secundario: #5C6470;
    --texto-verde: #0D5F59;
    --texto-icono: #5D6871C5;

    
    --texto-nav: #005854;
    --hover-nav: #ceebe1b2;

    /* ----- BORDES Y SEPARADORES ------ */

    --borde-input: #D9E2E8;
    --borde-tarjeta: #d2d4d4e1;
    --borde-secundario: #d8d8d8;
    --separador: #b8b8b899;

    /* ------ SOMBRAS ------ */

    --sombra-formulario: rgba(42, 53, 50, 0.267);

    /* ------ GRADIENTE DEL FONDO ------ */

    --gradiente-fondo: #FAFBFC;
    --gradiente-fondo-medio: rgba(250, 251, 252, 0.8);
    --gradiente-fondo-suave: rgba(250, 251, 252, 0.3);
    --transparente: transparent;

    /* Fondos */
    --fondo-icono-resumen: #e9f5f3;
    --fondo-icono-panel: #edf5f5;

    --fondo-badge-pendiente: #e6f5ef;
    --fondo-confirmada: #e8f5ee;
    --fondo-pendiente: #e8f4fb;

    --fondo-aviso-verde: #eaf6ef;
    --fondo-aviso-amarillo: #fff5e6;
    --fondo-aviso-azul: #eaf5fc;

    --fondo-documento-pdf: #fff0f0;
    --fondo-documento-doc: #eaf4fc;
    --fondo-documento-money: #eaf7ed;

    /* Colores de estado */
    --color-vencimiento: #e87524;
    --color-pendiente: #16856f;
    
    --color-aviso-verde: #399665;
    --color-aviso-amarillo: #ee9d25;
    --color-aviso-azul: #328bc2;

    --color-documento-pdf: #e54848;
    --color-documento-doc: #3587bd;
    --color-documento-money: #269b61;
    --color-evento: #23958c;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--texto-principal);
    background: var(--fondo);
}

svg {
    width: 22px;
    height: 22px;
}